<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="row w-100 text-center mb-3">
        <div class="col-12">
            <ng-container *ngIf="currentUser?.photoUrl; else genericLogoTemplate">
                <img [src]="currentUser?.photoUrl" alt="User Logo" class="logo">
            </ng-container>
            <ng-template #genericLogoTemplate>
                <img [src]="genericLogoUrl" alt="Generic Logo" class="logo">
            </ng-template>
        </div>
        <div class="col-12">
            <h2 class="username" *ngIf="currentUser">{{ currentUser.username }}</h2>
            <h2 class="username" *ngIf="currentUser">{{ currentUser.photoUrl }}</h2>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-12 text-center mb-3">
            <button class="btn btn-dark btn-block btn-lg">My workouts</button>
        </div>
        <div class="col-12 text-center mb-3">
            <button class="btn btn-dark btn-block btn-lg">Favorite exercises</button>
        </div>
        <div class="col-12 text-center mb-3">
            <button class="btn btn-dark btn-block btn-lg">Mesos</button>
        </div>
        <div class="col-12 text-center mb-3">
            <button class="btn btn-dark-dark btn-block btn-lg">Log workout</button>
        </div>
    </div>
</div>
