<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="row w-100 text-center mb-3 userinfo">
      <a [routerLink]="LOCATIONS.userprofile">
        <div class="col-12">
          <ng-container *ngIf="currentUser?.photoUrl; else genericLogoTemplate">
            <img [src]="currentUser?.photoUrl" alt="User Logo" class="logo">
          </ng-container>
          <ng-template #genericLogoTemplate>
            <img [src]="genericLogoUrl" alt="Generic Logo" class="logo">
          </ng-template>
        </div>
        <div class="col-12">
          <h2 class="username" *ngIf="currentUser">{{ currentUser.username }}</h2>
        </div>
      </a>
    </div>
    <div class="row w-100">
      <div class="col-12 col-md-6 text-center mb-3">
        <button class="btn d-flex flex-column align-items-center justify-content-center w-100" [routerLink]=LOCATIONS.plans>
          <img [src]="workouticon" alt="My workouts icon" class="button-icon">
          <span>My workouts</span>
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mb-3">
        <button class="btn d-flex flex-column align-items-center justify-content-center w-100">
          <img [src]="favoritesicon" alt="Favorite exercises icon" class="button-icon">
          <span>Favorite exercises</span>
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mb-3">
        <button class="btn d-flex flex-column align-items-center justify-content-center w-100">
          <img [src]="playicon" alt="Log workout icon" class="button-icon">
          <span>Log workout</span>
        </button>
      </div>
    </div>
  </div>
  