.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050; /* Asegúrate de que el modal tenga un z-index más alto */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    color: black; /* Establece el color del texto a negro */
  }
  
  .modal-dialog {
    position: relative;
    z-index: 1051; /* Modal dialog debe tener el z-index más alto */
    max-width: 500px;
    margin: 1.75rem auto;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040; /* Backdrop debe tener un z-index menor */
  }
  