<app-back-to-menu [displayText]="user?.username + ' Plans'"></app-back-to-menu>
<div class="d-flex flex-column vh-100">
    <div class="tab-content text-center flex-grow-1 d-flex flex-column justify-content-start mt-5">
      <div class="tab-pane fade show active">
        <ng-container *ngIf="activePlan">
          <h3 class="mt-3">{{ activePlan.name }}</h3>
        </ng-container>
      </div>
    </div>
  
    <div class="fixed-bottom-container" [ngClass]="{'visible': !isTabContainerVisible, 'hidden': isTabContainerVisible}">
      <!-- Arrow Icon -->
      <div class="toggle-arrow" (click)="toggleTabContainer()">
        <i class="fas" [ngClass]="{'fa-chevron-up': isTabContainerVisible, 'fa-chevron-down': !isTabContainerVisible}"></i>
      </div>
  
      <!-- Tabs -->
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item" *ngFor="let plan of plans">
          <a class="nav-link" [class.active]="plan.id === activePlanId" (click)="selectPlan(plan.id)">
            {{ plan.name }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="addPlan()">+</a>
        </li>
      </ul>
    </div>
  </div>
  