.fixed-bottom-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #343a40;
    z-index: 10;
    text-align: center; /* Center content inside the container */
  }
  
  .fixed-bottom-container.visible {
    bottom: 0px; /* Show the container when visible */
  }
  
  .fixed-bottom-container.hidden {
    bottom: -100px; /* Move it down when hidden */
  }
  
  .toggle-arrow {
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding: 10px;
  }
  
  .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start; /* Align tabs to the start to prevent clipping */
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap;
    -ms-overflow-style: none; /* Hide scrollbar in IE */
    scrollbar-width: thin; /* Make scrollbar thin */
  }
  
  .nav-tabs::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for webkit browsers */
  }
  
  .nav-item {
    flex: 0 0 auto; /* Ensure nav items don't shrink */
  }
  
  .nav-link {
    padding: 10px 20px;
    cursor: pointer;
    color: #007bff;
    text-align: center; /* Center text inside the nav-link */
  }
  
  .nav-link.active {
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
  }
  
  @media (min-width: 768px) {
    .nav-tabs {
      flex-wrap: wrap; /* Allow wrapping of tabs for larger screens */
    }
  
    .nav-item {
      flex: 1 1 auto; /* Allow nav items to grow and shrink with available space */
    }
  }
  
  @media (max-width: 250px) {
    h3 {
      font-size: 1.25rem;
      margin-top: 3rem;
    }
  
    .navbar-text {
      font-size: 1rem;
    }
  
    .tab-content {
      padding-top: 2.5rem;
    }
  
    .fixed-bottom-container {
      padding-bottom: 2rem;
    }
  }
  