<div *ngIf="workouts?.length" class="workouts-container">
    <div *ngFor="let workout of workouts" class="workout-box">
      <h4>{{ workout.name }}</h4>
      <p>{{ workout.description }}</p>
      <div class="exercises">
        <h5>Exercises:</h5>
        <ul>
          <li *ngFor="let exercise of workout.workoutExercises">
            {{ exercise.exercise.name }} - {{ exercise.reps }} reps, {{ exercise.sets }} sets, {{ exercise.weight }} kg
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="!workouts?.length" class="no-workouts">
    <p>No workouts available for this plan.</p>
  </div>