.custom-toast-container {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 300px;
}

.custom-toast {
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.toast-body {
  width: 100%;
  text-align: center;
}

.bg-info {
  background-color: blue !important;
}

.bg-success {
  background-color: green !important;
}

.bg-danger {
  background-color: red !important;
}

@media (max-width: 768px) {
  .custom-toast-container {
    width: 200px;
  }
}
