.container{

    padding-top: 3rem;

}
.icon-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.iconcontainer {
    justify-content: center;
}

@media (max-width: 768px) {
    .icon-img {
        width: 10rem;
        height: 10rem;
    }

    .form-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 576px) {
    .icon-img {
        width: 8rem;
        height: 8rem;
    }

    .form-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.form-control[disabled] {
    background-color: #f0f0f0;
    color: #6c757d;
    cursor: not-allowed;
}

.form-control[disabled]::placeholder {
    color: #6c757d;
}

.modal .modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .modal-footer .btn-warning,
.modal .modal-footer .btn-danger {
    margin: 0 10px;
}

.modal .modal-footer {
    justify-content: center;
}

.modal .modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal .modal-body {
    padding: 20px;
    font-size: 1rem;
    color: #212529;
}

.modal .modal-footer {
    border-top: 1px solid #dee2e6;
    padding: 10px;
}

.modal .modal-title {
    font-size: 1.25rem;
    color: #212529;
}

.modal .btn-close {
    background: none;
    border: none;
    font-size: 1.25rem;
    color: #000;
    opacity: 0.5;
}

.modal .btn-close:hover {
    color: #000;
    opacity: 0.75;
}

.profile-img-container {
    position: relative;
    width: 15rem;
    height: 15rem;
    cursor: pointer;
}

.profile-img-container:hover .icon-img {
    filter: grayscale(100%);
}

@media (max-width: 768px) {
    .profile-img-container {
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 576px) {
    .profile-img-container {
        width: 8rem;
        height: 8rem;
    }
}

.placeholder-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
    pointer-events: none;
}

.profile-img-container:hover .placeholder-text {
    display: block;
}
