<h3 class="text-center mt-5">Log Your Workout</h3>

<form [formGroup]="workoutLogForm" (ngSubmit)="submitWorkoutLog()">
  <div formArrayName="exercises" class="text-center mt-5">
    <div
      *ngFor="let exercise of exercises.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="exercise-dropdown">
        <button class="dropdown-btn" type="button" (click)="toggleDropdown(i)">
          {{ exercise.get("name")?.value }}
        </button>

        <div
          [ngClass]="{
            collapse: !exercise.get('open')?.value,
            show: exercise.get('open')?.value,
          }"
        >
          <div class="exercise-form">
            <div formArrayName="sets">
              <div
                *ngFor="let set of getSets(exercise).controls; let j = index"
                [formGroupName]="j"
                class="d-flex justify-content-between align-items-center mt-3"
              >
                <span>Set {{ j + 1 }}</span>
                <div class="input-container">
                  <label for="reps-{{ i }}-{{ j }}">Reps:</label>
                  <input
                    type="number"
                    formControlName="reps"
                    class="form-control"
                    [id]="'reps-' + i + '-' + j"
                    (focus)="clearInput(i, j, 'reps')"
                    (input)="limitInputLength($event, 3)"
                    (blur)="resetToZero(i, j, 'reps')"
                  />
                </div>
                <div class="input-container">
                  <label for="weight-{{ i }}-{{ j }}">Weight:</label>
                  <div class="input-group">
                    <input
                      type="number"
                      formControlName="weight"
                      class="form-control"
                      [id]="'weight-' + i + '-' + j"
                      (focus)="clearInput(i, j, 'weight')"
                      (input)="limitInputLength($event, 3)"
                      (blur)="resetToZero(i, j, 'reps')"
                    />
                    <span class="input-group-text">kg</span>
                  </div>
                </div>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-sm btn-success mt-3"
              (click)="addSet(i)"
            >
              + Add Set
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <button type="submit" class="btn btn-primary mt-4">Submit Log</button>
  </div>
</form>
