<h3 class="text-center mt-5">Log Your Workout</h3>

<form [formGroup]="workoutLogForm" (ngSubmit)="submitWorkoutLog()">
  <div formArrayName="exercises" class="text-center mt-5">
    <div
      *ngFor="let exercise of exercises.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="exercise-dropdown">
        <button
          class="dropdown-btn"
          type="button"
          (click)="toggleDropdown(i)"
        >
          {{ exercise.get("name")?.value }}
        </button>

        <div
          [ngClass]="{
            collapse: !exercise.get('open')?.value,
            show: exercise.get('open')?.value,
          }"
        >
          <div class="exercise-form d-flex justify-content-between">
            <div>
              <label for="sets-{{ exercise.get('id')?.value }}">Sets:</label>
              <input
                type="number"
                formControlName="sets"
                class="form-control"
                [id]="'sets-' + exercise.get('id')?.value"
              />
              <div *ngIf="exercise.get('sets')?.invalid && exercise.get('sets')?.touched" class="error">
                Sets are required and must be at least 1.
              </div>
            </div>

            <div>
              <label for="reps-{{ exercise.get('id')?.value }}">Reps:</label>
              <input
                type="number"
                formControlName="reps"
                class="form-control"
                [id]="'reps-' + exercise.get('id')?.value"
              />
              <div *ngIf="exercise.get('reps')?.invalid && exercise.get('reps')?.touched" class="error">
                Reps are required and must be at least 1.
              </div>
            </div>

            <div>
              <label for="weight-{{ exercise.get('id')?.value }}">Weight (kg):</label>
              <input
                type="number"
                formControlName="weight"
                class="form-control"
                [id]="'weight-' + exercise.get('id')?.value"
              />
              <div *ngIf="exercise.get('weight')?.invalid && exercise.get('weight')?.touched" class="error">
                Weight is required and must be at least 0.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5">
    <button type="submit" class="btn btn-primary mt-4">
      Submit Log
    </button>
  </div>
</form>
