<div class="container two-column-container my-5">
  <div class="row align-items-center mb-4 top-padding">
    <div class="col-md-6 order-md-2">
      <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="w-100">
        <source [src]="sample1" type="video/mp4" />
      </video>
    </div>
    <div class="col-md-6 order-md-1 text-center text-md-left">
      <div class="component-text">
        <h2>Track your workouts like NEVER before</h2>
      </div>
    </div>
  </div>

  <div class="row align-items-center mb-4 bottom-padding">
    <div class="col-md-6">
      <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="w-100">
        <source [src]="sample2" type="video/mp4" />
      </video>
    </div>
    <div class="col-md-6 text-center text-md-left">
      <div class="component-text">
        <h2>Customize your mesocycles, workouts, and exercises</h2>
      </div>
    </div>
  </div>

  <div class="row align-items-center mb-4">
    <div class="col-md-6 order-md-2">
      <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="w-100">
        <source [src]="sample1" type="video/mp4" />
      </video>
    </div>
    <div class="col-md-6 order-md-1 text-center text-md-left">
      <div class="component-text">
        <h2>Choose your favorite exercises for each muscle group</h2>
      </div>
    </div>
  </div>

  <div class="row align-items-center mb-4 bottom-padding">
    <div class="col-md-6">
      <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="w-100">
        <source [src]="sample2" type="video/mp4" />
      </video>
    </div>
    <div class="col-md-6 text-center text-md-left">
      <div class="component-text">
        <h2>Or simply let the algorithm do its job</h2>
      </div>
    </div>
  </div>
</div>
