  <div class="container two-column-container my-5">
    <div class="row align-items-center mb-4">
      <div class="col-md-6 order-md-2">
        <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="w-100">          <source src="component1video.mp4" type="video/mp4" />
            <source [src]=sample1 type="video/mp4" />
        </video>
      </div>
      <div class="col-md-6 order-md-1 text-center text-md-left">
        <div class="component-text">
          <h2>Track your workouts like NEVER before</h2>
        </div>
      </div>
    </div>
  
    <div class="row align-items-center">
      <div class="col-md-6">
        <video [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true" class="w-100">          <source src="component2video.mp4" type="video/mp4" />
            <source [src]=sample2 type="video/mp4" />
        </video>
      </div>
      <div class="col-md-6 text-center text-md-left">
        <div class="component-text">
          <h2>Customize your mesocycles workouts and exercises</h2>
        </div>
      </div>
    </div>
  </div>